body {
    background-image: url('../static/images/tree_background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background-image: url('../static/images/header_background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 150px;
}

.header h1 {
    font-size: 60px;
}

.header p {
    font-size: 25px;
}

.header #btnVerda {
    position: relative;
}

#main {
    opacity: 0.8;
    border-width: 10px;
}

#problemCard {
    background-color: white;
    border-width: 3px;
    border-color: black;
}

#solutionCard {
    background-color: white;
    border-width: 3px;
    border-color: black;
}

#aboutCard {
    background-color: white;
    border-width: 3px;
    border-color: black;
}

#contactsCard {
    background-color: white;
    border-width: 3px;
    border-color: black;
}

#contactsCard h2 {
    size: 40;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    background-color: antiquewhite;
    opacity: 0.8;
    width: 600px;
    height: 200px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow>div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.slides q {
    font-style: italic;
    font-size: 20px;
}

.author {
    color: cornflowerblue;
}

#chat {
    height: 500px;
    width: 500;
    overflow: auto;
    background-color: white;
    border-radius: 20px;
    opacity: 0.7;
    position: relative;
}

#content {
    padding-left: 20px;
    margin: 0px;
}

#logoPic {
    height: 100px;
    width: 100px;
    position: relative;
    left: 20px;
    top: 20px;
}