<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask_Chat_App</title>
</head>
<body>
  <div class="chat"></div>
  <form method="POST">
    <label>
      Message: <input type="text" class="message"/>
    </label>
    <input type="submit"/>
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript">
      const socket = io.connect('http://' + document.domain + ':' + location.port);
      const input = $('input.message');

      socket.on('connect', function() {
          const form = $('form').on('submit', function (e) {
              e.preventDefault()
              let message = input.val().trim();
              if (message !== '') {
                  socket.emit('send', {
                      message: message
                  })
                  input.val('').focus()
              }
          });
      })
      socket.on( 'my response', function( msg ) {
          $('div.chat').append('<div><b style="color: #000">'+'You:'+'</b> '+msg.message+'</div>')
      })
  </script>
</body>
</html>