<!doctype html>
<html>
  <head lang="en">

    <link rel="stylesheet" href="../static/homepage.css"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        
    </style>
  </head>
  <body>
    
    <div class="header">
      <h1>Verda</h1>
      <p>Every forest starts with 1 acorn</p>
      <button onclick="document.location.href='verda_chatbot.html'" id="btnVerda" type="button" class="btn btn-secondary">Press here to chat with Verda</button>    
    </div>

    <div class="row">
        <div id="main" class="container">
            <div id="problemCard" class="container my-3 pt-3 pb-2 border">
                <h2> The Problem </h2>
                <p>Every day humanity drains resources from the planet without even thinking about the inpacts on the nature. Many rivers are poluted, soil is being overused, animals are treated like objects and forest are being destroyed. And for what? So that we can use everyday luxuries like fur coats and animal bone decors. </p>
            </div>
            <div id="solutionCard" class="container my-3 pt-3 pb-2 border">
                <h2> The solution </h2>
                <p>We created a chatbot which helps the society to learn and understand the enviromental problems that are surrounding us. It will be able to analyze your questions and give you information about the enviromental topic you chose.</p>
            </div>
            <div id="aboutCard" class="container my-3 pt-3 pb-2 border">
                <h2> About the project </h2>
                <p>Verda is based on a chatbot from the 60s that mimics the speech pattern of a Rogerian psychotherapist. But we differ from the original by adding text to speech module and speech to text, so that you can talk to Verda. </p>
            </div>
            <div id="contactsCard" class="container my-3 pt-3 pb-2 border">
                <h2> Who are we? </h2>
                <div class="devInfo">
                    <h3>Stoyan Tinchev</h3>
                    <p>Co-developer of the bot algorithms.</p>
                    <div class="stoyanImg">Stoyan's image</div>
                </div>
                <div class="devInfo">
                    <h3>Kristiyan Stoimenov</h3>
                    <p>Co-developer of the bot algorithms.</p>
                    <div class="kristiyanImg">Kristiyan's image</div>
                </div>
                <div class="devInfo">
                    <h3>Aleksander Naidenov</h3>
                    <p>Backend developer of the web application.</p>
                    <div class="aleksanderImg">Aleksander's image</div>
                </div>
                <div class="devInfo">
                    <h3>Stefan Bosev</h3>
                    <p>Frontend developer of the web application.</p>
                    <div class="stefanImg">Stefan's image</div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>